header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 50px;
      padding: 1em 0;
    }
    div {
      a {
        background-color: rgb(163, 0, 0);
        padding: 5px 15px;
        color: darkgray;
        text-decoration: none;
        margin-left: 2em;
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
    .icon-bars {
      color: white;
      display: none;
    }
  }
}

@media (max-width: 760px) {
  header {
    .page-container {
      div {
        display: none;
      }
      .icon-bars {
        color: white;
        display: block;
      }
    }
  }
}
