.comicsByCharacter-page {
  padding: 5em 0 2em 0;
  .page-container {
    h1 {
      text-align: center;
    }
    .comicsByCharacter-container {
      padding-top: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .comicByCharacter-container {
        background-color: white;
        margin-right: 0;
        width: calc((100% - 45px) / 4);
        height: 360px;
        margin-bottom: 2em;

        &:not(:nth-child(4n)) {
          margin-right: 15px;
        }
        .comicByCharacter-infos {
          cursor: pointer;
          padding: 1.5em;
          text-decoration: none;
          color: black;
          h4 {
            padding-bottom: 1em;
          }
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            padding-bottom: 0.5em;
          }
          .description {
            max-height: 4em;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .comicsByCharacter-page {
    .page-container {
      .comicsByCharacter-container {
        .comicByCharacter-container {
          width: calc((100% - 30px) / 3);

          &:not(:nth-child(4n)) {
            margin-right: 0;
          }
          &:not(:nth-child(3n)) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .comicsByCharacter-page {
    .page-container {
      .comicsByCharacter-container {
        .comicByCharacter-container {
          width: calc((100% - 15px) / 2);
          &:not(:nth-child(3n)) {
            margin-right: 0;
          }
          &:not(:nth-child(2n)) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .comicsByCharacter-page {
    .page-container {
      .comicsByCharacter-container {
        .comicByCharacter-container {
          width: calc(100% - 15px);

          &:not(:nth-child(2n)) {
            margin-right: 0;
          }
          &:not(:nth-child(1n)) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
