.comic-container {
  position: relative;
  .btn-like {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

    & :hover {
      color: red;
    }
  }
  .comic-infos {
    background-color: white;
    width: 190px;
    height: 360px;
    padding: 1.5em;
    margin-bottom: 3em;
    margin-left: 1em;
    text-decoration: none;
    color: black;
    h4 {
      padding-bottom: 1em;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      padding-bottom: 1em;
    }
    .description {
      max-height: 7em;
      overflow: hidden;
    }
  }
}
