// BASE RULES
body {
  font-family: "Anton", sans-serif;
  background-image: url(./assets/images/background_0.5.jpg);
  background-position: center;
  background-repeat: repeat-y;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

@media (max-width: 1200px) {
  .page-container {
    padding: 0 2em;
  }
}
@media (max-width: 760px) {
  .page-container {
    padding: 0 1em;
  }
}

// TITLES & FONT
h1 {
  font-size: 34px;
  margin-bottom: 1em;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

//btn
.btn-like {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

// PAGINATION

.pagination {
  display: flex;
  flex-wrap: wrap;
  button {
    border: 0;
    width: 25px;
    height: 25px;
    margin: 2px;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prev,
  .next {
    background-color: grey;
    color: white;
    &:hover {
      background-color: rgb(77, 75, 75);
      color: darkgray;
    }
  }
  .btn {
    background-color: white;

    &:hover {
      background-color: rgb(163, 0, 0);
      color: darkgray;
    }
    &:focus {
      background-color: red;
      color: white;
    }
  }
  .active {
    background-color: red;
    color: white;
  }
}

.hulk-input {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 13em;
  .search-input {
    width: 300px;
    border: 5px solid rgb(94, 94, 94);
    background-color: rgb(197, 197, 197);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1em;
    color: rgb(94, 94, 94);
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    &::placeholder {
      color: rgb(94, 94, 94);
    }
    &:focus {
      outline: none;
    }
  }

  .hulk {
    z-index: 0;
    width: 300px;
    position: absolute;
    left: -8px;
    top: 12px;
  }
}

@media (max-width: 760px) {
  .hulk-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 17em;
  }
}
