// BASE RULES
body {
  font-family: "Anton", sans-serif;
  background-color: lightgrey;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}
@media (max-width: 1200px) {
  .page-container {
    padding: 0 2em;
  }
}
@media (max-width: 960px) {
  .page-container {
    padding: 0 2em;
  }
}
@media (max-width: 760px) {
  .page-container {
    padding: 0 1em;
  }
}

// TITLES & FONT
h1 {
  font-size: 34px;
  margin-bottom: 1em;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

//btn
.btn-like {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

// PAGINATION
.pagination {
  display: flex;
  flex-wrap: wrap;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 15px;
    height: 15px;
    margin: 2px;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.paginationTwo {
  display: flex;
  flex-wrap: wrap;
  button {
    border: 0;
    width: 25px;
    height: 25px;
    margin: 2px;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prev,
  .next {
    background-color: grey;
    color: white;
  }
  .btn {
    background-color: white;

    &:hover {
      background-color: rgb(223, 223, 223);
      color: white;
    }
    &:focus {
      background-color: red;
      color: white;
    }
  }
  .active {
    background-color: red;
    color: white;
  }
}

.search-input {
  width: 300px;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 1em;
  &:focus {
    outline: none;
  }
}
