.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;

  background-image: url(../../assets/images/pattern.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    background-color: white;
    padding: 10px;
  }
}

@media (max-width: 960px) {
  .homepage-container {
    background-position: center;
  }
}

@media (max-width: 760px) {
  h1 {
    text-align: center;
    margin: 1em;
  }
}
