.characters-page {
  padding: 10em 0 2em 0;

  .page-container {
    h1 {
      text-align: center;
    }

    .characters-container {
      padding-top: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 760px) {
  .characters-page {
    padding: 5em 0 2em 0;
  }
  .characters-page-open {
    padding-top: 14em;
  }
}
